.nav-container {
  background-color: #000;
  color: #fff;
  padding: 6rem 3rem;
  width: 14.5%;
  height: 100vh;
}

.nav-lista {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-left: .8rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #fff;
  font-size: 18px;
}

.nav-lista--link {
  text-decoration: none;
  color: #fff;
}